@model List<GerenciaPub.Models.ViewMesaModel>
@{
    var lista = ViewBag.Lista;
    var titulo = ViewBag.Title;
    ViewBag.Title = "Cadastro de " + ViewBag.Title;
    ViewBag.Title = "Mesas";
    ViewBag.lista = Model;
}

<link href="~/Content/Operacoes/MesasMovimento.css" rel="stylesheet" />



<div class="container" id="principal">
    <div id="controle_sistema">
        <section id="config_mesas">
            <div class="row">
                <h3>@ViewBag.Title</h3>
            </div>
            <hr />
            <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
            <fieldset>
                @Html.AntiForgeryToken()
                <div class="row col-md-12">
                    <section>
                        <div class="col-md-3">
                            <div class="form-check">
                                @Html.TextBox("txt_mesa", null, new { @class = "form-control", placeholder = "Numero Mesa/Comanda" })
                            </div>
                            <br />
                        </div>
                    </section>

                    <div class="col-md-2">
                        <div>
                            <a id="btn_incluir" class="btn btn-success" role="button">
                                <i class="glyphicon glyphicon-plus"></i>Incluir mesa
                            </a>
                        </div>
                    </div>
                    <div class="col-md-offset-3">
                        <div class="form-check">
                            @Html.TextBox("txt_filtro", null, new { @class = "form-control", placeholder = "Filtrar Mesas" })
                        </div>
                    </div>

                </div>
            </fieldset>
        </section>
    </div>
    <br />


    <section id="controle_mesas" class="container">

        @foreach (var item in Model)
        {
            <div data-id="@item.MesaId" class="mesas">
                <div class="conteudo_mesa">
                    <p>@item.MesaNome</p>
                    <p class="conteudo">@item.MoviDataEntrada</p>
                    <p class="conteudo">@item.MoviNroPessoa</p>
                </div>
            </div>
        }
        <div class="cor_fundo"></div>
        <div class="eventos" role="group" aria-label="Exemplo básico">
            <button id="abrir" type="button" class="btn btn-primary">Abrir mesa</button><br /><br />
            <button id="pedidos" type="button" class="btn btn-success">Pedidos</button><br /><br />
            <button id="trocar" type="button" class="btn btn-warning">Trocar mesa</button><br /><br />
            <button id="fechar" type="button" class="btn btn-danger">Fechar mesa</button><br /><br />

        </div>
    </section>
</div>








@section Scripts{
    <script>
        var url_confirmar = '@Url.Action("SalvarMesa", "MovimentoMesa")';
        //var url_abrir = '@Url.Action("SalvarMoviMesa", "MovimentoMesa")';
        var url_filtro = '@Url.Action("MesaPagina", "MovimentoMesa")';
    </script>
    <script src="~/Scripts/Operacao/OperacaoMesas.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>

}

